%h1= t(".title")

= simple_form_for @user_session, :url => user_session_path do |f|
  = f.input :login, :label => t(".login_or_email")
  = f.input :password, :label => t(".password")
  = f.input :remember_me, :as=>:boolean, :label => t(".remember")
  = f.submit t("sing_in")
